<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hermit Community</title>
    <!--引入资源文件-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}" />
    <script th:src="@{webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Hermit Community</span>

            </button>
            <a class="navbar-brand" href="#">Hermit Community</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Search topic" />
                    </label>

                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="/publish">publish</a></li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">message</a></li>
                        <li><a href="#">my data</a></li>
                        <li><a href="#">login out</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=4e6a5e29ce81350605df&redirect_uri=http://localhost:8090/callback&scope=user&state=1">login</a></li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>